<div class="container" *ngIf='user'>
  <div class="row">
    <div class="col-md-12 col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{user.name | uppercase}}</h3>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                      <div class="tab-pane active" id="tab1">
                        <ul>
                          <li> id: <span style="color:brown">{{user.id}}</span></li>
                          <li> name: <span style="color:brown">{{user.name}}</span> <button class="btn btn-primary" (click)="rename()">Edit</button></li>
                          <li *ngIf="editMode"><input [(ngModel)]="user.name" placeholder="name"/><button class="btn btn-success" (click)="save()">save</button></li>
                        </ul>
                        <button (click)="goBack()">return...</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>

